.details div {
  display: flex;
  justify-content: space-around;
}

table {
  width: 100%;
}
table td {
  padding: 10px 20px;
}
td:first-child {
  font-weight: 500;
}

.boxStyle {
  border: 1px solid black;
  box-shadow: 0px 0px 8px 5px #888888;
  margin: 0px 10px;
}
